@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;

  color: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-y-header.is-open .o-y-header-background {
  left: 0;
}
.o-y-header-button-wrapper {
  margin-left: auto;
}
.o-y-header-icon {
  display: none;
}

.o-y-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-y-navigation-list.is-open {
  right: 0;
}
.o-y-header-icon-menu {
  display: block;
}

.o-y-header-icon-button.is-open .o-y-header-icon-menu {
  display: none;
}

.o-y-header-icon-button.is-open .o-y-header-icon-close {
  display: block;
}

.o-y-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 72px;
  background: #ffffff;
}

.o-y-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffff;
}
.o-y-header.is-open .o-y-header-background {
  left: 0;
}
.o-y-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-y-header-icon-menu {
  display: block;
}

.o-y-header-icon-button.is-open .o-y-header-icon-menu {
  display: none;
}

.o-y-header-icon-button.is-open .o-y-header-icon-close {
  display: block;
}

.o-y-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 56px;
  position: relative;
}

.o-y-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 170px 32px;

  gap: 40px;
  background: #ffffff;
}

.o-y-navigation-list.is-open {
  right: 0;
}

.o-y-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #000000;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.o-y-navigation-link:hover,
.o-y-navigatioт-link:focus {
  color: #018ffd;
}

.o-y-header.is-open {
  background-color: transparent;
}

.o-y-navigation-img {
  display: none;
}

@media screen and (min-width: 1210px) {
  .o-y-navigation-img {
    display: block;
    margin-right: 508px;
  }
  .o-y-policy-terms-header-icon-menu {
    display: none;
  }
  .o-y-header-button-wrapper {
    display: none;
  }
  .o-y-header {
    width: 100%;
    height: 72px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-y-header-icon-button {
    display: none;
  }
  .o-y-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .o-y-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-y-navigation-link {
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .o-y-navigation-item-desk {
    display: none;
  }
}

.o-y-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 71.png");
  margin: auto;
}
.o-y-home-container {
  width: 375px;
  padding: 272px 0px 0px;
  margin: auto;
}

.o-y-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.o-y-home-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  leading-trim: NONE;

  text-align: center;
}

.o-y-home-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  padding: 30px 0 10px;
  text-align: center;
}
.o-y-home-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  width: 180px;
  text-align: center;
}
.o-y-home-link {
  box-shadow:
    0px 4px 6px -4px #0000001a,
    0px 10px 15px -3px #0000001a;

  background: #ff6501;
  width: 160px;
  border-radius: 33554400px;
  padding-top: 10px;
  padding-right: 44px;
  padding-bottom: 10px;
  padding-left: 44px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;

  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 50px;
}

.o-y-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1210px) {
  .o-y-home {
    width: 1440px;
    height: 860px;
    background-image: url("/img/Frame\ 72.png");
  }
  .o-y-home-container {
    width: 1440px;
    padding: 230px 272px 0px;
  }
  .o-y-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }

  .o-y-home-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    leading-trim: NONE;
    line-height: 75px;
    letter-spacing: 0px;
    text-align: center;
  }

  .o-y-home-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 32.5px;
    letter-spacing: 0px;
    text-align: center;

    padding: 50px 64px 10px;
    text-align: center;
  }
  .o-y-home-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 32.5px;
    letter-spacing: 0px;
    text-align: center;
    width: fit-content;
  }
  .o-y-home-link {
    width: 270px;
    height: 58;
    angle: 0 deg;
    opacity: 1;
    top: 411.5px;
    left: 313px;
    gap: 10px;
    border-radius: 33554400px;
    padding-top: 15px;
    padding-right: 84px;
    padding-bottom: 15px;
    padding-left: 84px;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 70px;
  }
}
.o-y-about {
  margin: auto;
  padding-top: 50px;
}
.o-y-about-container {
  background: #f7f8fa;
}
.o-y-about-container-div {
  width: 375px;
  margin: auto;
  padding: 20px 19px 49px;
}
.o-y-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  leading-trim: NONE;

  text-align: center;
  color: #018ffd;
}
.o-y-about-div {
  box-shadow:
    0px 1px 2px -1px #0000001a,
    0px 1px 3px 0px #0000001a;

  background: #ffffff;

  border-radius: 16px;
  padding: 16px 20px;
  margin-top: 30px;
}
.o-y-about-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;

  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #000000b2;
}

.o-y-about-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  leading-trim: NONE;
  color: #000000;
  padding-top: 24px;
}

@media screen and (min-width: 1210px) {
  .o-y-about {
    padding-top: 100px;
  }

  .o-y-about-container-div {
    width: 1440px;
    margin: auto;
    padding: 87px 275px;
  }
  .o-y-about-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
  }
  .o-y-about-div {
    padding: 48px;
    margin-top: 50px;
  }
  .o-y-about-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29.25px;
    letter-spacing: 0px;

    gap: 22px;
    color: #000000b2;
  }

  .o-y-about-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;

    padding-top: 24px;
  }
}

.o-y-why-container {
  width: 375px;
  margin: auto;
  padding: 50px 34px 0;
}
.o-y-why-list {
  padding-top: 30px;
}
.o-y-why-lists {
  display: none;
}
.o-y-why-item {
  box-shadow:
    0px 1px 2px -1px #0000001a,
    0px 1px 3px 0px #0000001a;
  background: #f8f9fa;
  width: 307px;
  height: 172px;
  border-radius: 10px;
  padding: 24px;
  margin: 0 10px;
}

.o-y-why-text-bold {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ff6501;
}
.o-y-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  padding-top: 11px;
  color: #000000b2;
}

@media screen and (min-width: 1210px) {
  .o-y-why-container {
    width: 1440px;
    padding: 100px 144px 0;
  }
  .o-y-why-list {
    display: none;
  }
  .o-y-why-lists {
    display: flex;
    padding-top: 48px;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .o-y-why-item {
    width: 362.65625px;
    height: 192px;

    border-radius: 10px;
    padding: 24px;

    margin: 0;
  }

  .o-y-why-text-bold {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
  }
  .o-y-why-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 26px;
    letter-spacing: 0px;
  }
}

.o-y-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 58px 27px 0;
}
.o-y-uniqueness-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.o-y-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.o-y-uniqueness-text-bold {
  background: #ff6501;

  box-shadow:
    0px 2px 4px -2px #0000001a,
    0px 4px 6px -1px #0000001a;
  width: 36px;
  height: 36px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 33554400px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  padding: 4px;
  color: #ffffff;
}
.o-y-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;

  color: #000000b2;
}
.o-y-uniqueness-text-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 14px;
  leading-trim: NONE;

  text-align: center;
  color: #000000b2;

  border-top: 1px solid #018ffd1a;
  margin-top: 22px;
}
@media screen and (min-width: 1210px) {
  .o-y-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 0 0;
  }
  .o-y-uniqueness-list {
    padding-top: 50px;
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 24px;
    width: 437px;
  }
  .o-y-uniqueness-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .o-y-uniqueness-text-bold {
    width: 48px;
    height: 48px;
    padding: 10px;
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .o-y-uniqueness-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .o-y-uniqueness-text-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Italic;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 29.25px;
    letter-spacing: 0px;
    text-align: center;

    border-top: 1px solid #018ffd1a;

    width: 738px;
    margin: auto;
    margin-top: 39px;
  }
}

.o-y-how-container {
  margin: auto;
  width: 375px;
  padding: 50px 25px 0;
}
.o-y-how-div {
  box-shadow:
    0px 1px 2px -1px #0000001a,
    0px 1px 3px 0px #0000001a;
  border-top: 1px solid #018ffd1a;
  background: #ffffff;

  border-radius: 16px;
  padding: 6px 19px 20px;
  margin-top: 40px;
}
.o-y-how-text-bold-two {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #000000b2;
}
.o-y-how-text-bold-one {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000000;
  padding: 19px 0 29px;
}
.o-y-how-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-y-how-item {
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.o-y-how-img {
  width: 8px;
}
.o-y-how-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  color: #000000b2;
}

.o-y-how-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Italic;
  font-size: 14px;
  leading-trim: NONE;
  color: #000000b2;
  margin-top: 51px;
  border-top: 1px solid #018ffd1a;
}

@media screen and (min-width: 1210px) {
  .o-y-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 272px 0;
  }
  .o-y-how-div {
    padding: 49px;
    margin-top: 50px;
  }
  .o-y-how-text-bold-two {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }
  .o-y-how-text-bold-one {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;

    padding: 24px 0;
  }

  .o-y-how-item {
    padding: 0;
  }

  .o-y-how-img {
    width: 8px;
  }
  .o-y-how-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }

  .o-y-how-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Italic;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;

    padding-top: 33px;
    margin-top: 32px;
    border-top: 1px solid #018ffd1a;
  }
}

.o-y-characters {
  margin: auto;
  width: 375px;
  height: 435px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 73.png");
}
.o-y-characters-container {
  padding: 98px 20px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-y-characters-text-bold {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;

  text-align: center;
  color: #4a5568;
  padding: 51px 0 20px;
}
.o-y-characters-link {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  leading-trim: NONE;
  color: #ff6501;
  text-decoration: none;
  text-align: center;
}

.o-y-characters-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  padding-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1210px) {
  .o-y-characters {
    margin: auto;
    width: 1440px;
    height: 636px;

    background-image: url("/img/Frame\ 74\ \(1\).png");
  }
  .o-y-characters-container {
    padding: 148px 20px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .o-y-characters-text-bold {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

    padding: 107px 0 31px;
  }
  .o-y-characters-link {
    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }

  .o-y-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    padding-top: 33px;
    text-align: center;
  }
}
.o-y-faq-two {
  padding-top: 50px;
}

.o-y-faq {
  background: #f7f8fa;
}
.o-y-faq-container {
  padding: 30px 9px;
  width: 375px;
  margin: auto;
}
.o-y-faq-list {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.o-y-faq-item {
  box-shadow:
    0px 1px 2px -1px #0000001a,
    0px 1px 3px 0px #0000001a;
  background: #ffffff;
  padding: 24px 32px;

  border-radius: 16px;
}

.o-y-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  color: #08162c;
}

.o-y-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
}
.o-y-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-y-toggle-button img {
  width: 32px;
  transition: transform 0.3s ease;
}
.o-y-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-y-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-y-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1210px) {
  .o-y-faq {
    background: #f7f8fa;
  }
  .o-y-faq-two {
    padding-top: 100px;
  }
  .o-y-faq-container {
    padding: 48px 341px;
    width: 1440px;
    margin: auto;
  }
  .o-y-faq-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-y-faq-item {
    box-shadow:
      0px 1px 2px -1px #0000001a,
      0px 1px 3px 0px #0000001a;
    background: #ffffff;
    padding: 24px 32px;

    border-radius: 16px;
  }

  .o-y-faq-question {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }

  .o-y-faq-answer {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
  }
}

.o-y-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-top: -18px;
  z-index: 1;
}

.o-y-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.o-y-gallery-button-icon {
  width: 30px;
}
.o-y-gallery-button:hover {
  scale: 120%;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 32px;
}
.slick-dots li {
  width: 4px;
  content: url("/img/Ellipse\ 16.png");
}

.slick-dots li.slick-active {
  width: 6px;
  content: url("/img/Ellipse\ 15.png");
}
@media screen and (min-width: 1210px) {
  .o-y-gallery-button-container {
    display: none;
  }
}

.o-y-policy-terms-container {
  padding: 100px 12px 50px 13px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
}

.o-y-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 100%;
  text-align: center;
  letter-spacing: -4%;
}
.o-y-policy-terms-container h2 {
  font-family: Inter;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 16px;
  leading-trim: NONE;
}
.o-y-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin: 10px 0 30px;
  padding-left: 20px;
}

.o-y-policy-terms-container p {
  margin: 10px 0 30px;
}
.o-y-email-link {
  color: inherit;
}
@media screen and (min-width: 1210px) {
  .o-y-policy-terms-container {
    padding: 100px 40px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
  }
  .o-y-policy-terms-container h1 {
    font-family: Poppins;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    leading-trim: NONE;

    letter-spacing: -4%;
  }
  .o-y-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .o-y-policy-terms-container p {
  }
}

.o-y-footer-container {
  background: #08162c;

  width: 375px;
  padding: 48px 10px 26px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffffb2;
}
.o-y-footer-div {
  display: flex;
  flex-direction: column;

  gap: 20px;
  column-gap: 90px;
  flex-wrap: wrap;
  height: 140px;
  margin-bottom: 30px;
}
.o-y-footer-navigation-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.o-y-footer-navigation-link-two {
  display: none;
}
.o-y-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
}

.o-y-footer-text {
  text-decoration: none;
  color: inherit;
}

.o-y-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (min-width: 1210px) {
  .o-y-footer-container {
    background: #08162c;

    width: 1440px;
    padding: 48px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: #ffffffb2;
  }
  .o-y-footer-div {
    display: flex;
    flex-direction: row;

    gap: 12px;
    column-gap: 12px;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 0px;
  }
  .o-y-footer-navigation-link {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
  }
  .o-y-footer-navigation-link-two {
    display: block;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff4d;
  }
  .o-y-footer-wrapper {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
  }

  .o-y-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
}
